



<input type="text" name="c" [(ngModel)]="searchtext" class="form-control bg-gradient-light px-4" placeholder="Search">
<br>
<section class="articles">
    <div  *ngFor="let service of services | filter:searchtext">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="data:image/jpeg;base64,{{service.picture}}" alt=""/>
        </figure>
        <div class="article-body">
          <h2><span>{{service.title}}</span>
          </h2>
          <p>
            <span>{{service.description}}</span>
        </p>

          <a href="#" class="read-more">
            <span>Price:{{service.price}}DT</span>
            <span style="margin-left: 110px;">Likes: {{service.isLiked}}</span>
            <span style="margin-left: 60px;">Dislikes: {{service.isDisliked }}</span>

            <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    
    </article>
    <button class="button like"  style="margin-right: 5px;" (click)="likeService(service.id_service)">Like</button>
    <button class="button dislike" style="margin-right: 140px;" (click)="dislikeService(service.id_service)">Dislike</button>
    <button class="button dislike" style="margin-right: 140px;" routerLink="/AddAppointements">Make Appointement</button>
    <a href="/oneService/{{ service.id_service}}"   class="button like">Details<span class="material-icons"></span></a>
    
    

    </div>
</section>