
<h3>Update a forum</h3>
<form (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>Titre</label>
    <input type="text" class ="form-control" id="title"
           [(ngModel)]="forum.title" name="title">
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" class ="form-control" id="description"
           [(ngModel)]="forum.description" name="description">
  </div>

  <button class="btn btn-success" type="submit">submit</button>
  <button class="btn btn-danger" type="reset" >reset </button>

</form>

